<div class="settings__wrapper">
    <div class="settings__block">
        <h1>Настройки: </h1>
        <form method="POST" class="settings__form">
            <h3>Секретный ключ для трансляции: </h3>
            <input type="text" name="key_stream" id="key_stream" value="{{key_gen}}">
            <input type="submit" value="Сгенерировать ключ">
        </form>
    </div>
</div>