* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    background: #212126;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.nav-bar a{
    color: white;
    text-decoration: none;
}
html, body, #app{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar__items{
    list-style-type: none;
    display: flex;
    margin: 0;
    color: white;
    align-items: center;
    width: auto;
}

.nav-bar__item:nth-child(1){
    margin-left: 50px;
}
.nav-bar__item:last-child{
    margin-right: 50px;
}
.nav-bar__item{
    margin: 0 10px;
}


.aside-bar{
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 300px;
    background: #424246;
}

.content{
    width: 100%;
    margin: 0 auto;
}

.preview__wrapper{
    height: 100%;
    position: relative;
    overflow: hidden;
    background: black;
    position: fixed;
}

.preview__videos{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
}

.preview__background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.auth__wrapper{
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.auth__wrapper form{
    display: flex;
    flex-direction: column;
}

.auth__wrapper input{
    padding: 5px;
    margin: 5px;
}


.preview__welcome{
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.settings__wrapper{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.settings__block{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: whitesmoke;
    margin: 15px auto;
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
}
.settings__block h1{
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid black;
}

.settings__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.settings__form input{
    padding: 5px;
    margin: 10px;
}

.settings__form input[type="submit"]{
    background: rgb(138, 206, 37);
    border: 0;
    padding: 10px;
    border-radius: 8px;
}


.streams__wrapper{
    background: white;
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px;
}

.streams__items{
    display: flex;
    flex-wrap: wrap;
}

.streams__item{
    display: flex;
    position: relative;
    padding: 5px;
    max-width: 400px;
}

.streams__name{
    position: absolute;
    color: white;
    background: #72bd72;
    padding: 5px;
    border-radius: 10px;
    top: 10px;
    left: 10px;
}

.streams__img{
    border-radius: 5px;
    max-width: 400px;
    height: 100%;
    width: 100%;
}

.streams__live{
    position: absolute;
    color: rgb(221, 50, 50);
    background: white;
    border-radius: 10px;
    font-weight: 700;
    padding: 3px;
    font-size: 20px;
    border-radius: 10px;
    bottom: 10px;
    left: 10px;
}


/*-----------------------------------*/

.stream__wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 50px 0 0 0;
    background: #eee;
}

.stream__block{
    width: 100%;
    height: 100%;
    display: flex;
}

.stream__lobby{
    width: 300px;
    background: white;
}

.stream__video{
    flex-grow: 1;
    align-self: center;
}

.stream__chat{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
    background: white;
}

.stream__dialog{
    height: 100%;
    list-style: none;
    word-break: break-word;
    overflow: scroll;
}

.stream__message{
    margin: 5px 1px;
}

.stream__dialog-block{
    height: 100%;
    background: white;
    margin: 10px;
    overflow: hidden;
}

.stream__textarea{
    height: 50px;
    width: 100%;
}

.stream__enter{
    background: rgb(123, 221, 111);
    border: 0;
    margin: 10px 0;
    padding: 10px;
}

.stream__lobby{
    width: 300px;
}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: white; }
::-webkit-scrollbar-track {  background-color: white;}
::-webkit-scrollbar-track-piece { background-color: white;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: white;}
::-webkit-resizer { background-color: white;}

::-moz-webkit-scrollbar { width: 3px; height: 3px;}
::-moz-webkit-scrollbar-button {  background-color: white; }
::-moz-webkit-scrollbar-track {  background-color: white;}
::-moz-webkit-scrollbar-track-piece { background-color: white;}
::-moz-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-moz-webkit-scrollbar-corner { background-color: white;}
::-moz-webkit-resizer { background-color: white;}