
{{#if user_streamer.isStreaming}}

<div class="stream__wrapper">
    <div class="stream__block">
        <div class="stream__lobby"></div>
        <div class="stream__video">
            <video autoplay style="width: 100%; height: auto;" id="my-player" class="video-js"
                controls
                preload="auto"
                autoplay="true"
                poster="/thumbnails/Offline.png"
                data-setup='{"fluid": true}'>
                <source src="http://192.168.0.247:8888/live/{{user_streamer.keygen_translation}}/index.m3u8" type="application/x-mpegURL"></source>
                <p class="vjs-no-js">Stream is not available</p>
            </video>
        </div>
        <div class="stream__chat">
            <div class="stream__dialog-block">
                <ul class="stream__dialog">
                    {{#each messages}}
                        <li class="stream__message"><p>{{user}}: {{message}}</p></li>
                    {{/each}}
                </ul>
            </div>
            <div class="stream__inputs">
                <textarea {{#if isUserAuth}} {{/if}} class="stream__textarea" name="text" id="text" cols="30" rows="10"style="resize: none;"></textarea>
                <button class="stream__enter">Отправить</button>
            </div>
        </div>
    </div>
</div>

    <script src="/scripts/video.js/dist/video.js"></script>
    <script>videojs.options.flash.swf = "video-js.swf";</script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/streams_detail_socket.js"></script>

{{/if}}