
{{#if user.isStreaming}}

<div class="stream__wrapper">
    <video width="900" id="my-player" class="video-js"
        controls
        preload="auto"
        autoplay="true"
        poster="/thumbnails/Offline.png"
        data-setup='{}'>
        <source src="http://192.168.0.247:8888/live/{{user.keygen_translation}}/index.mpd" type="application/dash+xml"></source>
        <p class="vjs-no-js">Stream is not available</p>
    </video>
    <div class="stream__chat">
        <ul class="stream__dialog">
            {{!-- <li class="stream__message"></li> --}}
        </ul>
        <textarea class="stream__textarea" name="text" id="text" cols="30" rows="10"style="resize: none;"></textarea>
    </div>
</div>

    <script src="/video/dist/video.js"></script>
    <script>videojs.options.flash.swf = "video-js.swf";</script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.emit('conn', 'good')
    </script>

{{/if}}