
<div class="preview__wrapper">
    <div class="preview__videos">
        <div><video autoplay loop><source src="/preview-video/1.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/2.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/3.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/4.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/15.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/17.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/9.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/8.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/9.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/10.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/11.webm" type="video/webm"></video></div>
        <div><video autoplay loop><source src="/preview-video/12.webm" type="video/webm"></video></div>
    </div>
    <div class="preview__background">
        <div class="auth__wrapper">
            <h1>Регистрация</h1>
            <form method="post">
                <input type="text" name="username" id="username">
                <input type="password" name="password" id="password">
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
</div>